---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorkTimeline from "../components/WorkTimeline";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects";
import Footer from "../components/Footer.astro";
import ValleyDividerMobile from "../components/ValleyDividerMobile.astro";
import ValleyDivider from "../components/ValleyDivider.astro";
---

<Layout title="Boris Tsao - Actuary">
  <main class="font-roboto flex flex-col justify-between min-h-screen">
    <Header />
    <section
      id="first-section"
      class="min-h-screen text-gray-700 hiddenItem flex flex-col items-center w-screen"
    >
      <Intro />
      <div class="custom-divider mt-auto">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </section>
    <section
      id="second-section"
      class="h-4/5 text-gray-700 hiddenItem flex flex-col items-center w-screen"
    >
      <div
        class="mx-auto max-w-6xl flex flex-col items-center justify-start w-screen pl-2 lg:pl-0"
      >
        <div class="relative z-0 mb-5">
          <p
            class="text-gray-200 lg:text-9xl text-6xl mt-10 text-center font-extrabold"
          >
            Timeline
          </p>
          <div
            class="absolute inset-x-0 bottom-0 flex justify-center items-center z-10"
          >
            <p class="lg:text-4xl text-gray-600 font-bold text-center">
              Key Milestones Of My Career
            </p>
          </div>
        </div>
        <p class="text-gray-600 mb-5 w-3/4 text-center">
          The below brings to light a few pivotal milestones in my career that
          has shaped me into the person I am today. Over the course of my
          career, I have learnt to ask the right questions, and to be curious
          about the world around me. I have become a mentor for many of my
          colleagues and always willing to help out if they have questions.
        </p>
        <WorkTimeline client:load />
      </div>
      <div class="custom-divider lg:hidden inline mt-10">
        <ValleyDividerMobile />
      </div>
      <div class="custom-divider lg:inline hidden mt-10">
        <ValleyDivider />
      </div>
    </section>
    <section
      id="third-section"
      class="h-screen text-gray-700 hiddenItem flex flex-col items-center w-screen"
    >
      <div
        class="mx-auto max-w-6xl flex flex-col items-center justify-start w-screen pl-2 lg:pl-0 hiddenItem"
      >
        <div class="relative z-0 mb-5">
          <p
            class="text-gray-200 lg:text-9xl text-6xl mt-10 text-center font-extrabold"
          >
            Side Projects
          </p>
          <div
            class="absolute inset-x-0 bottom-0 flex justify-center items-center z-10"
          >
            <p class="lg:text-4xl text-gray-600 font-bold text-center">
              What I have been up to outside of work
            </p>
          </div>
        </div>
        <p class="text-gray-600 mb-5 w-3/4 text-center">
          Below are a few projects that I am working on to test out bleeding
          edge technologies.
        </p>
        <div class="flex flex-col w-full">
          <Projects client:visible />
        </div>
      </div>
      <Footer />
    </section>
  </main>
</Layout>
<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("showItem");
      } else {
        entry.target.classList.remove("showItem");
      }
    });
  });
  const hiddenElements = document.querySelectorAll(".hiddenItem");
  hiddenElements.forEach((el) => {
    observer.observe(el);
  });

  const scrollToForm = (id: string) => {
    const el = document.getElementById(id);
    el!.scrollIntoView({ behavior: "smooth" });
  };
</script>

<style>
  #first-section {
    background-image: url("../assets/wallpaper.jpg");
    background-size: cover;
    background-position: center;
  }

  @media only screen and (max-device-width: 768px) {
    #first-section {
      background-image: url("../assets/wallpaper.jpg");
      background-size: cover;
      background-position: 40% 50%;
    }
  }

  .custom-divider {
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150%;
    transform: rotateY(180deg);
  }

  .custom-divider .shape-fill {
    fill: #fff;
  }
  .hiddenItem {
    opacity: 0;
    transition: all 2s;
  }

  @media (prefer-reduced-motion) {
    .hiddenItem {
      transition: none;
      opacity: 1;
    }
  }

  .showItem {
    opacity: 1;
  }
</style>
