---
import { Image } from "@astrojs/image/components";
import heroImage from "../assets/pfp.png";

const testClick = () => {
  console.log("clicked");
};
---

<!-- This example requires Tailwind CSS v2.0+ -->
<header class="fixed w-full transition-all duration-400" id="header">
  <nav class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="flex w-full items-center justify-between py-2 lg:border-none">
      <div class="flex items-center">
        <a class="flex" href="/">
          <Image
            src={heroImage}
            width={50}
            height={50}
            class="rounded-3xl border-gray-500 border-2"
            alt="descriptive text"
          />
          <span class="m-auto text-lg ml-2">
            Hello there, my name is Boris. &#128075;</span
          >
        </a>
      </div>
      <button id="x-button" class="lg:hidden"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          ></path>
        </svg>
      </button>
      <div class="ml-10 space-x-4 hidden lg:block">
        <a href="/#first-section" class="">Home Page</a>
        <a href="/#timeline" class="">Resume</a>
        <a href="/#projects" class="">Projects</a>

        <a
          href="/contact"
          class="inline-block rounded-md border-2 py-2 px-4 text-base font-medium hover:bg-indigo-50 hover:text-black"
          >Contact</a
        >
      </div>
    </div>

    <div
      id="test"
      class="flex-wrap justify-center space-x-6 py-4 hidden lg:hidden"
    >
      <a
        href="#first-section"
        class="text-base font-medium text-white hover:text-indigo-50"
        >Home Page</a
      >

      <a
        href="#timeline"
        class="text-base font-medium text-white hover:text-indigo-50">Resume</a
      >

      <a
        href="#projects"
        class="text-base font-medium text-white hover:text-indigo-50"
        >Projects</a
      >

      <a
        href="/contact"
        class="text-base font-medium text-white hover:text-indigo-50">Contact</a
      >
    </div>
  </nav>
</header>

<style>
  #header {
    z-index: 1;
  }

  .test {
    animation: growDown 300ms ease-in-out forwards;
  }
</style>

<script>
  let shownElements = false;
  function onclick() {
    shownElements = !shownElements;
    if (shownElements) {
      document.getElementById("header")!.style.backgroundColor =
        "rgb(55,65,81)";
      document.getElementById("header")!.style.color = "white";
      document.getElementById("test")!.classList.remove("hidden");
      document.getElementById("x-button")!.innerHTML =
        "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor'  class='bi bi-x-lg' viewBox='0 0 16 16'> <path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>";
    } else {
      // document.getElementById("header")!.style.backgroundColor = "transparent";
      // document.getElementById("header")!.style.color = "rgba(55,65,81,1)";
      document.getElementById("test")!.classList.add("hidden");
      document.getElementById("x-button")!.innerHTML =
        "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/></svg>";
    }
  }

  const button = document.getElementById("x-button");

  button!.addEventListener("click", onclick);
  window.onscroll = function () {
    {
      window.pageYOffset === 0 && !shownElements
        ? (document.getElementById("header")!.style.backgroundColor =
            "transparent")
        : (document.getElementById("header")!.style.backgroundColor =
            "rgb(55,65,81)");
    }
    {
      window.pageYOffset === 0 && !shownElements
        ? (document.getElementById("header")!.style.color = "rgba(55,65,81,1)")
        : (document.getElementById("header")!.style.color = "white");
    }
  };
</script>
