---
import WorkTimeline from "../components/WorkTimeline";
---

<div
  class="mt-20 mx-auto max-w-6xl justify-start sm:px-6 lg:px-8 flex flex-col items-center"
>
  <div class="relative z-0 mb-5">
    <p
      class="text-gray-200 lg:text-9xl text-4xl mt-10 text-center font-extrabold"
    >
      Timeline
    </p>
    <div
      class="absolute inset-x-0 bottom-0 flex justify-center items-center z-10"
    >
      <p class="lg:text-4xl text-xl text-gray-600 font-bold">
        Key Milestones Of My Career
      </p>
    </div>
  </div>
  <p class="text-gray-600 mb-5 w-3/4 text-center">
    The below brings to light a few pivotal milestones in my career that has
    shaped me into the person I am today. Over the course of my career, I have
    learnt to ask the right questions, and to be curious about the world around
    me. I have become a mentor for many of my colleagues and always willing to
    help out if they have questions.
  </p>
  <WorkTimeline client:load />
</div>
